.alert {
  height: fit-content !important;

  border-radius: 8px;
  padding: 12px 16px;

  display: flex;
  flex-direction: column;

  .alert-header {
    display: flex;
    gap: 8px;
    justify-content: flex-start;
    align-items: center;

    .alert-title {
      font-weight: 600;

      flex-grow: 1;
    }
  }

  .alert-message {
    margin-top: 8px;
    margin-left: 28px;
  }
}
.alert-filled {
  @extend .alert;
  color: #ffffff;
  fill: #ffffff;
}
.alert-outline {
  @extend .alert;
  border-width: 1px;
  border-style: solid;
}

.alert-success {
  @extend .alert-outline;
  color: var(--success);
  fill: var(--success);
  border-color: var(--success);
}
.alert-success-filled {
  @extend .alert-filled;
  background-color: var(--success);
}
.alert-warning {
  @extend .alert-outline;
  color: var(--qual-10);
  fill: var(--qual-10);
  border-color: var(--qual-10);
}
.alert-warning-filled {
  @extend .alert-filled;
  background-color: var(--qual-10);
}
.alert-error {
  @extend .alert-outline;
  color: var(--qual-5);
  fill: var(--qual-5);
  border-color: var(--qual-5);
}
.alert-error-filled {
  @extend .alert-filled;
  background-color: var(--qual-5);
}
.alert-info {
  @extend .alert-outline;
  color: var(--info);
  fill: var(--info);
  border-color: var(--info);
}
.alert-info-filled {
  @extend .alert-filled;
  background-color: var(--info);
}

.alert-dismiss {
  cursor: pointer;
}
